.grid_container {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.header_container {
  grid-area: 1/1/2/11;
  /* background: #46ad7c; */
  background: rgb(51, 119, 86);
  background: linear-gradient(
    0deg,
    rgba(51, 119, 86, 1) 0%,
    rgba(70, 173, 124, 1) 100%
  );
  /* filter: drop-shadow(10px 10px 5px grey); */
}

.background_container {
  position: absolute;
}

.main_content_container {
  grid-area: 2/1/12/11;
  position: relative;
}

.input_container {
  min-width: 400px;
}

.info_container {
  position: absolute;
  top: -15px;
}

.info_paper {
  padding: 5px 20px;
}

.stores_button_container {
  position: absolute;
  bottom: -10px;
}

.logo_container {
  padding-right: 20px;
}
