.grid_container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 250px repeat(10, 1fr);
  background: rgb(24, 71, 116);
  background: linear-gradient(
    0deg,
    rgba(24, 71, 116, 1) 47%,
    rgba(19, 80, 138, 1) 66%,
    rgba(0, 128, 255, 1) 100%
  );
}

.header_container {
  grid-area: 1/1/2/11;
  position: relative;
}

.background_container {
  position: absolute;
}

.main_content_container {
  grid-area: 2/1/12/11;
  padding: 80px;
}

.input_container {
  min-width: 400px;
}

.info_container {
  position: absolute;
  top: -15px;
}

.info_paper {
  padding: 5px 20px;
}

.stores_button_container {
  position: absolute;
  bottom: 20px;
  z-index: 1;
}

.logo_container {
  padding-right: 20px;
}

.drawer {
  width: 50vw;
  height: 100%;
  background: rgb(24, 71, 116);
  background: linear-gradient(
    0deg,
    rgba(24, 71, 116, 1) 47%,
    rgba(19, 80, 138, 1) 66%,
    rgba(0, 128, 255, 1) 100%
  );
}

.drawer_background {
  position: absolute;
}

.table_item_container {
  width: auto;
  /* background: red; */
}

.table_container {
  padding: 20px 50px;
}

.store_button:hover {
  background: #f8f8f8;
}
